.card-section {
  padding: 10px 20px;
  background-color: #131b2b;
  color: #fff;
  width: 100%;
}

#step .card {
  border-radius: 12px;
  box-shadow: 0 1px 12px rgba(2, 76, 200, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #1a2337;
  flex: 1;
  max-width: 400px;
}

#step .card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(2, 76, 200, 0.7);
  border: 1px solid #024CC8;
}

@media (max-width: 1024px) {
  #step .card {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  #step .card {
    width: 100%;
    max-width: 100%;
    padding: 20px 15px;
  }
}
